# ============ Python / backend ============
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/
.env

# ============ Angular / Node / frontend ============
node_modules/
dist/
.angular/

# ============ Editor / SO ============
.vscode/
.idea/
.DS_Store
Thumbs.db